body {
  margin: 0 auto;
  padding: 0 auto;
  background-image: url("../../public/img/fondecran.png");

  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial black;
  color: white;

  text-shadow: 2px 2px 2px black;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1% 5% 0 5%;
  border: 4px solid purple;
}

.titre {
  border: 1px solid red;
  background-color: black;
  width: 20vw;
  text-align: center;
  font-size: 1rem;
}

#blocphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulaire {
  display: block;
  font-size: small;
}

/* BLOC LEFT */
#blocLeft p {
  width: 30vw;
}

#logo img {
  width: 18vw;
}

/* BLOC CENTRAL */
#blocCentral {
  position: absolute;
  top: 65%;
  left: 33.75%;
  display: flex;
  flex-direction: column;
}

#photoprofil {
  height: 20vh;
  width: 10vw;
  border-radius: 50%;
}
form {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  margin: 0 0 0 30%;
  /* border: 4px solid blueviolet; */
}

textarea {
  font-size: 18px;
}

/* BLOC RIGHT */
#blocRight {
  /* border: 4px solid green; */
  display: flex;
  justify-content: space-around;
  padding: 0 9% 0 5%;
  margin: 3% 0 0 0;
}

#photodownload {
  height: 10vh;
  width: 5vw;
  padding: 5px;
  border-radius: 25%;
}

#catFans {
}

/***** BLOC ****/
footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin: 0 2% 0 24%;
  /* border: 4px solid pink; */
  height: 21vh;
}
#logoFooter {
  margin-bottom: 15px;
  margin-top: 5%;
  /* border: 4px solid yellow; */
  display: flex;
  align-items: flex-end;
}
.facebook,
.instagram,
.snapchat,
.youtube {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px;
}

/******** BLOC *****/
#mentionsLégales {
  /* border: 4px solid red; */
  display: flex;
  align-items: flex-end;
  font-size: xx-small;
  color: grey;
}
@media screen and (max-width: 768px) {
  body {
  }
  header {
    display: flex;
    flex-direction: column;
  }
  #logo img {
    width: 12vw;
  }
  #photoprofil {
    height: 10vh;
    width: 12vw;
    border-radius: 50%;
  }

  #blocLeft p {
    width: 30vw;
  }
}
@media screen and (max-width: 480px) {
}
