body{
margin: 0;
padding: 0;
background-image: url("../../public/img/fondecran.png");
background-repeat: no-repeat;
min-height: 100vh;
min-width: 100vw;
background-size: cover;
font-family: arial black;
}
h1{
display: flex;
justify-content: center;
color: white;
}

#blocHeader{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
}

.logo{
height: 3em;
width: 7em;
}

.blocMailBlaze{
	display: flex;
	justify-content: space-between;
	margin-top: 5%;
	margin-bottom: 2%;

}


.blocTextarea{
	display: flex;
	border: 1px solid white;
	width: 50%;
	height: 300px;
}






/***** BLOC ****/ #logoFooter{
display: flex;
justify-content: center;
margin-top: 25px;
/*margin-bottom: 25px;*/
}
.facebook{
margin-right: 15px;
width: 30px;
height: 30px;
border-radius: 10px 10px;
}
.snapchat{
margin-right: 15px;
width: 30px;
height: 30px;
border-radius: 10px 10px;
}
.youtube{
margin-right: 15px;
width: 30px;
height: 30px;
border-radius: 10px 10px;
}
.instagram{
margin-right: 15px;
width: 30px;
height: 30px;
border-radius: 10px 10px;
}
/******** BLOC *****/ #mentionsLégales{
display: flex;
justify-content: space-around;
font-size: xx-small;
margin-left: 400px;
margin-right: 400px;
color: grey;
}