body {
  margin: 0 auto;
  padding: 0 auto;
  background-image: url("../../public/img/fondecran.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 98vw;
  background-size: cover;
  font-family: arial black;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
#logo {
  width: 15vw;
  /* border: 4px solid cyan; */
}

#blocphoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 4px solid violet; */
}

#blocLeft {
  /* border: 4px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 0 8%;
  margin: 5% 0 1% 0;
}

#photodownload img {
  width: 4vw;
  height: 7vh;
  border-radius: 25%;
}

#photodownload {
  width: 25vw;
  height: 10vh;
  /* border: pink solid 4px; */

  display: flex;
  justify-content: center;
}

#photoprofil {
  width: 10vw;
  border-radius: 50%;
}

h1 {
  /* display: flex;
  justify-content: center; */
  /* border: pink solid 4px; */
  /* font-size: 1.5rem; */
}

.titre {
  /* border: 1px solid orange; */
  background-color: black;
  width: 20vw;
  text-align: center;
  padding: 2% 2% 2% 2%;
}
.pSpecial {
  padding: 2% 0% 2% 0%;
}

#conteneur {
}

.formulaire {
  font-size: small;
}

/* BLOC LEFT */

/* BLOC CENTRAL */
#blocCentral {
  /* border: 4px solid goldenrod; */
  display: flex;
  width: 98vw;
  justify-content: space-around;
  padding: 3% 15% 2% 17%;
}

#blocCentral form {
  /* border: 4px solid red; */
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#catTalent .formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 4px solid rgb(221, 112, 40); */
}

#catTalent .formulaire fieldset {
  /* border: 4px solid greenyellow; */
  width: 20vw;
  padding: 0 0 0 25%;
}

textarea {
  display: flex;
  width: 40vw;
}

/* BLOC RIGHT */
#blocRight {
  /* border: 4px solid green; */
  display: flex;
  justify-content: center;

  margin: 0% 0 0 0;
}

#catFans {
}

/***** BLOC ****/
footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* border: 4px solid pink; */
  height: 21vh;
}

#logoFooter {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  /* border: 4px solid yellow; */
}
.facebook,
.snapchat,
.youtube,
.instagram {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px;
}

/******** BLOC *****/
#mentionsLégales {
  /* border: 4px solid red; */
  display: flex;
  justify-content: center;
  font-size: xx-small;
  color: grey;
}

/* IPAD */
@media screen and (max-width: 768px) {
  body {
    padding: 2% 0 0 0;
  }

  #logo {
    width: 25vw;
    /* border: 4px solid cyan; */
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #photodownload {
    width: 50vw;
    height: 10vh;
    /* border: pink solid 4px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }
  #blocphoto {
    display: flex;
  }
  #blocphoto p {
    text-align: center;
  }
  #blocLeft {
    /* border: 4px solid coral; */

    padding: 0 0 0 2%;
    /* border: 4px solid greenyellow; */
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0 0 0;
  }

  #blocCentral {
    /* border: 4px solid goldenrod; */
    display: flex;
    width: 98vw;
    justify-content: space-around;
    padding: 2% 5% 0% 8%;
  }

  #blocCentral form {
    /* border: 4px solid red; */
    width: 25vw;
  }
  .titre {
    /* border: 1px solid orange; */
    background-color: black;
    width: 25vw;
    text-align: center;
    padding: 2% 2% 2% 2%;
  }
  #catTalent .formulaire fieldset {
    padding: 0 0 0 2%;
    /* border: 4px solid red; */
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  body {
    margin: 5% 0 0 0;
  }

  #logo {
    /* border: 4px solid cyan; */
    margin: 5% 0 10% 0;
  }
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #photodownload {
    width: 100vw;
    height: 15vh;
    /* border: pink solid 4px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
  }
  #photodownload img {
    width: 11vw;
    height: 5vh;
  }
  #blocphoto {
    display: flex;
    /* border: 4px solid goldenrod; */
    width: 100vw;
    height: 28vh;
  }

  #blocphoto img {
    width: 30vw;
  }
  #logo {
    width: 50vw;
    /* border: 4px solid cyan; */
  }

  #blocLeft {
    height: 60vh;
    /* border: 4px solid pink; */
    margin: 0 0 0 2.5%;
  }

  #photodownload {
    /* width: 100vw;
    height: 15vh;
    border: pink solid 4px;

    font-size: 1rem; */
    padding: 2% 0 0 0;
  }
  #photodownload img {
    width: 10vw;
    height: 7vh;
  }

  #blocCentral {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* padding: 2% 0 2% 0;
    width: 100vw; */
  }

  .titre {
    /* border: 4px solid orange; */
    background-color: black;
    width: 50vw;
    text-align: center;
    padding: 2% 2% 2% 2%;
  }

  #blocCentral form {
    /* border: 4px solid red; */
    width: 97vw;
  }

  fieldset {
    /* border: 4px solid blue; */
    width: 50vw;
  }

  #catTalent .formulaire fieldset {
    /* border: 4px solid greenyellow; */
    padding-left: 24%;
    align-self: flex-start;
    width: auto;
  }

  textarea {
    width: 65vw;
    height: 30vw;
  }
  #mentionsLégales {
    /* border: 4px solid red */
    margin: 0 15% 0 15%;
    text-align: center;
    font-size: xx-small;
    color: grey;
  }
}
