body{
margin: 0;
padding: 0;
background-image: url("../../public/img/fondecran.png");
background-repeat: no-repeat;
min-height: 100vh;
min-width: 100vw;
background-size: cover;
font-family: arial black;
}

/********** BLOC HEADER **********/
#blocHeader{
	display: flex;
	justify-content: space-between;
	}

.logo{
	height: 4em;
	width: 8em;
	}

.titreContact{
	display: flex;
	justify-content: center;
	margin-left: 40%;
	margin-top: 10%;
	color: red;
	background-color: black;
	border: 3px solid white;
	width: 6em;
	border-radius: 10px 10px; 
	}
	
#blocRecherche{
	display: block;
	font-size: small;
	}

/*********** BLOC CENTRAL ********/
.blocMailBlaze{
	display: flex;
	justify-content: space-between;
	margin-left: 9%;
	margin-right: 9%;
	margin-top: 5%;
	margin-bottom: 2%;
	color: white;
	}

/*********** BLOC TEXTAREA *********/
.blocTextarea{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 20%;
	margin-right:20%;
	}

/********** BLOC FOOTER *******/ 
#logoFooter{
	display: flex;
	justify-content: center;
	margin-top: 90px;
	margin-bottom: 30px;
	}

.youtube,.instagram,.snapchat,.facebook{
	margin-right: 15px;
	width: 30px;
	height: 30px;
	border-radius: 10px 10px;
	}

/************** BLOC MENTIONS LEGALES *********/ 
#mentionsLégales{
	display: flex;
	justify-content: space-around;
	font-size: xx-small;
	margin-left: 400px;
	margin-right: 400px;
	color: grey;
	}

/*********** MEDIA QUERIES ****************/
@media(max-width:767px){
	body{
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	text-align: center;
	}

	.logo{
	display: flex;
	flex-direction: column;
	height: 2em;
	width: 4em;
	}

	#blocHeader{
	display: flex;
	flex-direction: column;
	}

	.titreContact{
	display: flex;
	color: red;
	background-color: black;
	border: 1px solid white;
	width: 6em;
	border-radius: 10px 10px;
	font-size: small; 
	margin-left: 39%;
	margin-top: 0%;
	}

	#blocRecherche{
	display: none;
	flex-direction: column;
	font-size: xx-small;
	margin-left: 5.5%;
	}

	.blocMailBlaze{
	display: flex;
	flex-direction: column;
	font-size: xx-small;
	color: white;
	margin-left: 10%;
	}

	.blocTextarea{
	display: flex;
	width: 250px;
	height: 250px;
	margin-left: 15%;
	}
 
	#logoFooter{
	margin-right: 20%;
	margin-left: 24%;
	}

	.youtube,.instagram,.snapchat,.facebook{
	width: 20px;
	height: 20px;
	border-radius: 10px 10px;
	}
 
	#mentionsLégales{
	display: none;
	}	
}	

@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}